/* Author:Zenash*/
/*09/07/20*
https://coolors.co/ddd5d0-cfc0bd-b8b8aa-7f9183-586f6b

*/
html{
    box-sizing:border-box;
}
    *, *:before, *:after{
        box-sizing:inherit;
}
body{
    color: black;
    padding:0; 
    font-family:'Montserrat', sans-serif;
    line-height:1.5;
    font-size:15px;     
}

header{
    background-color:#586F6B;
    color:white;   
}
p{
    text-align:justify;
    padding:5px;
}
.projects{
    background-color:#7F9183; 
    margin-top:0;       
}
.workexp{
    background-color:#B8B8AA
}
.education{
    background-color:#CFC0BD;
}
img{
    width: 300px;
    float:left;
    padding-right:20px;
}
.project-item{
    float: left;
}
.projects{
    overflow: hidden;
}

.workexp{
    clear: both;
}
a{
    color:white;
}
a:focus{
outline: 1.5px solid white; 
}
a:hover{
   color :white;
}
h1,h2{
    font-family: 'Caveat', cursive;
    line-height: 0.5;
}
h1{ 
    font-size:100px; 
}
h2{
  font-size:45px;    
}

.content-wrap{
    width:800px;
    margin:0 auto;
    padding:50px 0;    
}
.projects a{
    text-decoration: none;
    background:#586F6B;
    padding:10px;
    border-radius: 4px;    
}
.projects a:hover{
     background:rgba(52, 53, 71, 0.75);
}

footer{
    background-color:#DDD5D0;
    overflow:hidden; 
     
}
li{
    list-style:none; 
    float:left;   
    padding:25px; 
 }
 a{
     text-decoration:none;
     color:black;    
 }
  .icon{
    width:60px; 
    float:left;
}

 ul li a:hover{
     color:blue;
 }

